$darkblue: #01161e; // darkblue color code
$global_nav: #003d7c; // global navigation color
$white: #fff; // white color
$black: #000; // black color
$menucolor: #838385; // Menucolor
$yellow: #fdaf35;

body {
  margin: 0;
  padding: 0;
  background: $white;
  font-family: 'Dosis', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

p {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #999;
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 1.9em;
}

ul {
  margin: 0;
  padding: 0;
}

p, ul, ol {
  font-size: 14px;
}

input[type="submit"], a, .nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  -moz-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  -ms-transition: .5s ease-in;
}

a {
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

body {
    font-size: 14px;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

a {
    color: #000;
    cursor: pointer;
}

a:link {
    text-decoration: none;
}



/* visited link */

a:visited {
    text-decoration: none;
}



/* mouse over link */

a:hover {
    text-decoration: none;
    color: #000;
}



/* selected link */

a:active {
    text-decoration: none;
}

.outer-valign {
    display: table;
    width: 100%;
    height: 100%;
}

.inner-valign {
    display: table-cell;
    vertical-align: middle;
}

@import 'header';
@import 'home';
@import 'responsive';